{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{% block body %}
    <div class='grid-container d-flex justify-content-center' style='margin:5%;'>
        <div class='box-wrapper' style='text-align:center; border:none;'>
            <h2 class='logo'><img src='https://avatars.slack-edge.com/2019-03-20/583937946071_ec0495d5608b9ff7d012_88.jpg' class='rounded-circle'></img>
            <p class='text-align:justify'>Code Seed</p></h2>
            
            {{form_start(authorForm)}}
                <div class='row'>
                    <div class='col'>
                        <div class='box-wrapper-outside'>
                            <div class="authorForm-group mb-3">
                                <label for="name">Name</label>
                                {{ form_widget(authorForm.name) }}
                            </div>
                            <div class="authorForm-group mb-3">
                                <label for="username">Username</label>
                                {{ form_widget(authorForm.username) }}
                            </div>
                            <div class="authorForm-group mb-3">
                                <label for="phone">Phone</label>
                                {{ form_widget(authorForm.phone) }}
                            </div>
                            <div class="form-group mb-3">
                                {{ form_widget(authorForm.submit, { 'label': 'Edit profile!', 'attr': {'class': 'btn btn-grad text-body'}})  }}
                            </div>
                        </div>
                    </div>
                    <div class='col' >
                        <div class="authorForm-group md-4" style='margin-left:20%;'>
                            <label for="profileImage">Image profile</label>
                            {{form_widget(authorForm.profileImage)}}
                        </div>
                        <img src = "{{profileImage}}" class='rounded-circle' style="width:125px; height:125px; margin-left:20%"></img>
                    </div>
                </div>
            {{form_end(authorForm)}}
        </div>
    </div>
    <script src="https://cdn.tiny.cloud/1/01d5asfqnyhum1ajtiidqu22gzf4ktjyn8yzpsfvqc28ipki/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'autolink lists media table',
            toolbar: 'casechange code export formatpainter permanentpen table',
            toolbar_mode: 'floating',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
        });
    </script> 
{% endblock %}