{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{% block body %}
    <div class="container">
        <div class="blog-header" style='margin-top:5%; margin-left:3%;'>
            <h1 class="blog-title">Blog Posts</h1>
            <p class="lead blog-description"></p>
        </div>
        <div class="row w-100" style='margin-left:2%; margin-right:2%;'>
            <div class="col-md-12 col-lg-12 col-xl-12">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            {% for blogPost in blogPosts %}                 
                <div class='card' style='border:none; width:300px; height:450px; margin-left:0%; margin-right:1%; margin-bottom:2%;'>
                    <a href="{{ path('details_entries',{'slug':blogPost.slug}) }}">
                    <div class='card-img-top'>{{blogPost.imageURL|raw}}</a></div>
                    <div class='card-body'>
                        <a href="{{ path('details_entries',{'slug':blogPost.slug}) }}" style='color:#000000; text-decoration:none;'><h5 class='card-title'>{{blogPost.title}}</h5></a>
                        {{blogPost.description|raw}} 
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}