<!DOCTYPE html>
<html>
    <head>
    
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
            {#<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">    
            #}<style>
            img {
                max-width:100%;
                height: auto;

            }
            .bi {  
                text-align: center;  
                margin: 5px 2px;  
                font-size: 25px;  
                width: 25px;  
            }  
            .bi:hover {
                opacity: 0.6;
            }
            
            .btn-grad {background-image: linear-gradient(to right, #348F50 0%, #56B4D3  51%, #348F50  100%)}
            .btn-grad {
                text-transform: uppercase;
                transition: 0.5s;
                background-size: 200% auto;
                color: white;            
                box-shadow: 0 0 20px #eee;
                border-radius: 10px;
            } 
            .btn-grad:hover {
                background-position: right center; /* change the direction of the change here */
                color: #fff;
                text-decoration: none;
            }
            body{ height:100vh; margin:0; }

            header{ min-height:50px; }

            /* Trick */
            body{ 
                display:flex; 
                flex-direction:column; 
            }
            page-container{
                position: relative;
                min-height: 100vh;
            }

            content-wrap{
                padding-bottom: 2.5rem;    /* Footer height */
            }

            footer{
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 2.5rem;            /* Footer height */
            }
            </style>
        {% endblock %}
    </head>
    <body>
        <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid" id="navbarNav">
                <div class="navbar-header">
                    <a class="navbar-brand" href='https://www.codeseed.io'style='color: #000000; text-decoration: none;'>
                        <img src='https://avatars.slack-edge.com/2019-03-20/583937946071_ec0495d5608b9ff7d012_88.jpg' class='rounded-circle' style="width:35px; height:35px; ">Code Seed</img>
                    </a>
                </div>
                <ul class="navbar-nav" style="text-align:center">
                    <li class="px-5">
                    <li class="nav-item active">
                        <a class="nav-link" href={{path('homepage')}}>Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={{path('admin_create_entry')}}>New Post</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={{path('about_us')}}>About Us</a>
                    </li>
                </ul>
                
                <ul class="navbar-nav navbar-right navbar-fixed">  
                    <li class="nav-item">
                        {% if app.user %}
                            <a class="nav-link" href={{path('app_logout')}}>Logout</a>
                        {% endif %}
                        {% if (not app.user) and ( app.request.get("_route") not in ['app_login']) %}
                            <a class="dropdown">
                                <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Login
                                </button>
                                <form class="dropdown-menu p-1 dropdown-menu-end" aria-labelledby="dropdownMenuButton1" action="{{ path('app_login') }}" method="post">
                                    <div class= 'mb-3'>
                                        <label for="username">Username:</label>
                                        <input type="text" id="username" name="_username"/>
                                    </div>
                                    <div class = 'md-3'>
                                        <label for="password">Password:</label>
                                        <input type="password" id="password" name="_password"/>
                                    </div>
                                    {# If you want to control the URL the user is redirected to on success
                                    <input type="hidden" name="_target_path" value="/account"/> #}
                                    <input type="hidden" name="_target_path" value="{{path('homepage')}}"/>
                                    <button type="submit" class="btn btn-light">Login</button>    
                                    {#{% if not app.user %}   
                                        <a href={{path("app_register")}} class = "btn btn-light">Register</a>
                                    {% endif %}
                                    <a href={{path("admin_entries")}} class = "btn btn-light">Blog Posts</a>#}
                                </form>
                            </a>
                        {% endif %}
                    </li>
                    <li class='nav-item'>
                        {% if not app.user %}
                            <a class='btn btn-grad text-body' href={{path("app_register")}}>Sign up for free</a>
                        {% else %}
                            <a class='btn btn-grad text-body' href={{path('edit_user')}}>Profile Settings</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </nav>
        
        {#<img src='https://jerryjenkins.com/wp-content/uploads/2019/08/Finding-the-Best-Creative-Writing-Blogs-on-the-Internet-scaled.jpg'></img>#}
        <div id="page-container">
            <div id="content-wrap">
                {% block body %}{% endblock %}
                {% block javascripts %}
                    {{ encore_entry_script_tags('app') }}
                {% endblock %}
            </div>
            <footer id='footer' class='footer en-gb'>
                <div id='nav-client-footer' class='nav-client'>
                    <div class='grid-container footer-content footer-desktop'>
                        <div class='nav-section' style='text-align:center;'>
                            <a href='https://www.google.com/maps/place/Code+Seed/@40.6198616,22.9554245,17z/data=!3m1!4b1!4m5!3m4!1s0x14a839cc4275a54d:0x7168c06d77132515!8m2!3d40.6198597!4d22.9576062' style='color: #000000; text-decoration: none;'><i class='bi bi-geo-alt-fill'></i>Leof. Stratou 16, Thessaloniki, 546 40 Greece</a>
                            <a href='https://www.google.com/maps/place/Code+Seed/@40.6198616,22.9554245,17z/data=!3m1!4b1!4m5!3m4!1s0x14a839cc4275a54d:0x7168c06d77132515!8m2!3d40.6198597!4d22.9576062' style='color: #000000; text-decoration: none;'><i class='bi bi-telephone-fill'></i>+30 23108 59 462</a>
                            <a href='https://www.google.com/maps/place/Code+Seed/@41.1494561,24.1485122,15z/data=!4m5!3m4!1s0x0:0x473f9d57292e99b9!8m2!3d41.1494561!4d24.1485122' style='color: #000000; text-decoration: none;'><i class='bi bi-geo-alt-fill'></i>Verginas 51, Drama 661 32 Greece</a>
                            <a href='https://www.google.com/maps/place/Code+Seed/@41.1494561,24.1485122,15z/data=!4m5!3m4!1s0x0:0x473f9d57292e99b9!8m2!3d41.1494561!4d24.1485122' style='color: #000000; text-decoration: none;'><i class='bi bi-telephone-fill'></i>+30 25211 05 247</a>
                            <a id='copy'><i onclick="copyEvent('copy')" class='bi bi-envelope'></i>hello@codeseed.io</a>               
                        </div>
                        <div class='nav-section' style='text-align:center;'>
                            <a style="color: #3b5998;" href='https://www.facebook.com/AnestisKirke'role="button">
                                <i class="bi bi-facebook"></i></a>
                            <a style="color: #e95950;" href='https://www.instagram.com/anestis.khrke/'role="button">
                                <i class="bi bi-instagram"></i></a>
                            <a style="color: #007bb5;" href='https://www.linkedin.com/in/anestis-kyrkenidis-521733143/' role="button">
                                <i class='bi bi-linkedin'></i></a>
                        </div>
                    </div>
                </div>  
            </footer>
        </div>
        
        <script>
            function copyEvent(id)
            {
                var str = document.getElementById(id);
                window.getSelection().selectAllChildren(str);
                document.execCommand("Copy")
            }
        </script>  
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
       
        </body>
</html>
